# Pandas: Your Data's Best Friend
Two of the most useful things that Python can do for you as a reasercher is allow you to wrangle and visualize data quickly and responsively. We will be using the `pandas` module for data management. If you are interested, there are many tutorials out there which compliment what we are going to teach quite well, for example this Pandas tutorial on [Kaggle](https://www.kaggle.com/learn/pandas).

Let's start by importing these modules. We will use the shorthand `pd` for Pandas as a common abbreviation and  will make our lives just a little bit easier. We're also going to import numpy (as `np`) directly as we will need to access it later:

In [2]:
import pandas as pd
import numpy as np

This workbook is organized to introduce various features, elements, techniques, and processes available to us using Pandas and Altair in research. We are going to walk through some of these steps using data that we have created, but mostly we are going to use and existing dataset to get used to working with real data that is often messy.

## VIA Rail Reliability
Our goal (case study, example) is to perform some analysis of the reliability of VIA Rail in 2019, particularly along a single corridor (the Kitchener corridor).

The data we will be working with consists of real and scheduled arrival and departure times of trains on portions of the VIA rail network in Canada. This data was collected from VIA's website, which reports these times as part of their customer service process. I have been collecting and storing this data for analysis, and we will use a year's worth of data for this example. 

For reference, here's a map of the railway system, complete with station names:
<img src="via_corridor.png">

## Pandas Data Frames
The meat and potatoes of data management in Pandas happens through the `DataFrame` object, and it's 1-dimensional cousin the `Series`. Data frames can be thought of just like tables in a database, or a single spreadsheet in an excel workbook. Series objects are like lists, and represent a single column in a data frame. There are many ways to create a data frame, here are common ones:
  * Read in data from a CSV file
  * Read in data from a Database
  * Create one in code
  
By far the most common approach is to read in a CSV file. Depending on the file size and the types of data, Pandas will automatically try to guess what types of data are in each column (strings, integers, floats), but you can tell it explicitly to make things run faster. We can view the size of the frame using the `shape` attribute, view the column names using the `columns` attribute, and the top rows of the data frame using the `head()` function.

### Creating Data Frames from Scratch
While not a common thing, sometimes it can be useful to create a data frame from scractch:

In [3]:
votes = pd.DataFrame({'Motion': ['G-25', 'C-50', 'C-59'], 'For':[21, 15, 22], 'Against': [23, 29, 22]})
votes

  Motion  For  Against
0   G-25   21       23
1   C-50   15       29
2   C-59   22       22

In [9]:
via = pd.read_csv('data/via_2019_all.csv')
display(via.shape)
display(via.columns)
via.head()

(185716, 6)

Index(['train', 'prettyname', 'schedArr', 'realArr', 'schedDep', 'realDep'], dtype='object')

,train,prettyname,schedArr,realArr,schedDep,realDep
0,87,Toronto,NaN,NaN,2019-01-01 17:40:00,2019-01-01 17:40:00
1,87,Malton,2019-01-01 18:00:00,2019-01-01 17:58:00,2019-01-01 18:01:00,2019-01-01 17:57:00
2,87,Brampton,2019-01-01 18:12:00,2019-01-01 18:08:00,2019-01-01 18:14:00,2019-01-01 18:12:00
3,87,Georgetown,2019-01-01 18:24:00,2019-01-01 18:22:00,2019-01-01 18:26:00,2019-01-01 18:22:00
4,87,Guelph,2019-01-01 18:49:00,2019-01-01 18:42:00,2019-01-01 18:51:00,2019-01-01 18:46:00

### Slicing and Selecting
You can view individual slices of the data by row or column. For example:

In [12]:
display(via.iloc[250:260])
display(via['train'].unique())
via[['train', 'prettyname']].head()

,train,prettyname,schedArr,realArr,schedDep,realDep
250,87,Wyoming,2019-01-21 22:03:00,2019-01-21 21:59:00,2019-01-21 22:05:00,2019-01-21 21:58:00
251,87,Sarnia,2019-01-21 22:20:00,2019-01-21 22:13:00,NaN,NaN
252,87,Toronto,NaN,NaN,2019-01-22 17:40:00,2019-01-22 17:40:00
253,87,Malton,2019-01-22 18:00:00,2019-01-22 18:04:00,2019-01-22 18:01:00,2019-01-22 18:03:00
254,87,Brampton,2019-01-22 18:12:00,2019-01-22 18:14:00,2019-01-22 18:14:00,2019-01-22 18:16:00
255,87,Georgetown,2019-01-22 18:24:00,2019-01-22 18:26:00,2019-01-22 18:26:00,2019-01-22 18:27:00
256,87,Guelph,2019-01-22 18:49:00,2019-01-22 18:54:00,2019-01-22 18:51:00,2019-01-22 18:56:00
257,87,Kitchener,2019-01-22 19:16:00,2019-01-22 19:18:00,2019-01-22 19:18:00,2019-01-22 19:22:00
258,87,Stratford,2019-01-22 19:53:00,2019-01-22 20:03:00,2019-01-22 19:55:00,2019-01-22 20:06:00
259,87,St. Mary's,2019-01-22 20:21:00,2019-01-22 20:28:00,2019-01-22 20:23:00,2019-01-22 20:29:00

array([ 87,  84,  88,  82,  70,  80,  72,  76,  78,  85,  71,  73,  83,
        75,  81,  79,  50,  52,  40,  42, 644,  44,  46, 646,  54,  48,
        26,  60,  62,  28,  64,  38,  66,  68, 668,  61,  63,  65,  67,
        69, 669,  22,  24,  34,  41,  43,  51,  45,  53,  47, 645,  55,
       647,  59,  33,  35, 635,  37,  39, 651, 655, 643,  97,  98,  15,
        14,  20,  25,  29, 622, 624, 633, 637, 639, 641, 650], dtype=int64)

   train  prettyname
0     87     Toronto
1     87      Malton
2     87    Brampton
3     87  Georgetown
4     87      Guelph

### Conditional Selection
A common thing you'll want to do is to filter the data you have based on a set of criteria. This can be done by passing a set of filtering arguments, treating the Data Frame a little like a dictionary.

For multiple criteria Pandas uses Python's *bitwise operators*, which are `&` for AND and `|` for OR. If your filtering criteria are complex, don't forget about DeMorgan's law!

In [15]:
# via[via.train % 2 == 0]
# via[(via.train >= 80) & (via.train < 90)].head()

,train,prettyname,schedArr,realArr,schedDep,realDep
1307,84,Sarnia,NaN,NaN,2019-01-01 06:10:00,2019-01-01 06:28:00
1308,84,Wyoming,2019-01-01 06:25:00,2019-01-01 06:44:00,2019-01-01 06:26:00,2019-01-01 06:44:00
1309,84,Strathroy,2019-01-01 06:57:00,2019-01-01 07:05:00,2019-01-01 06:59:00,2019-01-01 07:04:00
1310,84,London,2019-01-01 07:20:00,2019-01-01 07:30:00,2019-01-01 07:32:00,2019-01-01 07:37:00
1311,84,St. Mary's,2019-01-01 08:15:00,2019-01-01 08:21:00,2019-01-01 08:16:00,2019-01-01 08:22:00
...,...,...,...,...,...,...
185711,650,Oshawa,2019-12-30 20:06:00,2019-12-30 20:08:00,2019-12-30 20:07:00,2019-12-30 20:09:00
185712,650,Port Hope,2019-12-30 20:33:00,2019-12-30 20:35:00,2019-12-30 20:34:00,2019-12-30 20:36:00
185713,650,Cobourg,2019-12-30 20:41:00,2019-12-30 20:45:00,2019-12-30 20:42:00,2019-12-30 20:46:00
185714,650,Belleville,2019-12-30 21:18:00,2019-12-30 21:22:00,2019-12-30 21:19:00,2019-12-30 21:24:00
185715,650,Kingston,2019-12-30 21:56:00,2019-12-30 22:47:00,NaN,NaN

### Working with Subsets
You can assign subsets to new variables, but **be careful**. These subsets *sometimes* act as direct copies, sometimes they are simply selections on the larger frame. When you are making changes to the data, remember that if you want a true copy, you can use the `copy()` function.

In [19]:
kitchener = via[(via.train >= 84) & (via.train < 90)].copy()
kitchener.head()

,train,prettyname,schedArr,realArr,schedDep,realDep
0,87,Toronto,NaN,NaN,2019-01-01 17:40:00,2019-01-01 17:40:00
1,87,Malton,2019-01-01 18:00:00,2019-01-01 17:58:00,2019-01-01 18:01:00,2019-01-01 17:57:00
2,87,Brampton,2019-01-01 18:12:00,2019-01-01 18:08:00,2019-01-01 18:14:00,2019-01-01 18:12:00
3,87,Georgetown,2019-01-01 18:24:00,2019-01-01 18:22:00,2019-01-01 18:26:00,2019-01-01 18:22:00
4,87,Guelph,2019-01-01 18:49:00,2019-01-01 18:42:00,2019-01-01 18:51:00,2019-01-01 18:46:00

### Grouping Data
It's often useful to aggregate or group data together. We can do this using Pandas' `groupby` function. There are many different ways to do this, based on your application or how you use the output, but here's my approach:
  1. Slice your data frame so you have only the columns for grouping, and the columns for aggregating (at least one)
  2. Group on the groupby columns, use `as_index=False` to keep your dataframe flat.
  3. Provide an aggregation function (simple or complex) after your `groupby` call

In [22]:
kitchener.groupby(["train", "prettyname"], as_index=False).count().head(10)

   train  prettyname  schedArr  realArr  schedDep  realDep
0     84    Brampton       365      362       365      363
1     84  Georgetown       365      361       365      361
2     84      Guelph       365      362       365      364
3     84   Kitchener       365      362       365      364
4     84      London       365      361       365      365
5     84      Malton       365      360       365      355
6     84      Sarnia         0        0       365      364
7     84  St. Mary's       365      362       365      364
8     84   Stratford       365      361       365      362
9     84   Strathroy       365      360       365      361

### Sorting Values

In [25]:
kitchener.sort_values(['train', 'prettyname'], ascending=True)

,train,prettyname,schedArr,realArr,schedDep,realDep
1316,84,Brampton,2019-01-01 10:19:00,2019-01-01 10:34:00,2019-01-01 10:20:00,2019-01-01 10:36:00
1328,84,Brampton,2019-01-02 10:19:00,2019-01-02 10:19:00,2019-01-02 10:20:00,2019-01-02 10:22:00
1340,84,Brampton,2019-01-03 10:19:00,2019-01-03 10:23:00,2019-01-03 10:20:00,2019-01-03 10:25:00
1352,84,Brampton,2019-01-04 10:19:00,2019-01-04 10:27:00,2019-01-04 10:20:00,2019-01-04 10:28:00
1364,84,Brampton,2019-01-05 10:19:00,2019-01-05 10:25:00,2019-01-05 10:20:00,2019-01-05 10:26:00
...,...,...,...,...,...,...
157194,88,Toronto,2019-12-27 23:17:00,2019-12-27 23:43:00,NaN,NaN
157202,88,Toronto,2019-12-28 23:17:00,2019-12-28 23:31:00,NaN,NaN
157210,88,Toronto,2019-12-29 23:17:00,2019-12-29 23:34:00,NaN,NaN
157218,88,Toronto,2019-12-30 23:17:00,2019-12-30 23:29:00,NaN,NaN
157226,88,Toronto,2019-12-31 23:17:00,2019-12-31 23:17:00,NaN,NaN

### Data Types
Much like with Python in general, we have to pay attention to data types in Pandas, and make sure that the data type that Pandas associates with a given column matches what we need it do be. Let's check the data types for our data set (note, the `object` type is what Pandas uses for string columns):

In [26]:
kitchener.dtypes

train          int64
prettyname    object
schedArr      object
realArr       object
schedDep      object
realDep       object
dtype: object

What we'd *really* like is for the time columns to be treated as time, so we can do operations with them without too much fuss. Here's how we can convert:

In [27]:
kitchener['schedArr'] = pd.to_datetime(kitchener.schedArr)
kitchener['realArr'] = pd.to_datetime(kitchener.realArr)
kitchener['schedDep'] = pd.to_datetime(kitchener.schedDep)
kitchener['realDep'] = pd.to_datetime(kitchener.realDep)
kitchener.dtypes

train                  int64
prettyname            object
schedArr      datetime64[ns]
realArr       datetime64[ns]
schedDep      datetime64[ns]
realDep       datetime64[ns]
dtype: object

### Making New Columns
We can create new columns in the data based on other columns very easily:

In [31]:
kitchener['arrDelta'] = kitchener['realArr'] - kitchener['schedArr']
kitchener['depDelta'] = kitchener['realDep'] - kitchener['schedDep']
display(kitchener.dtypes)
kitchener['arrDelta'] = kitchener['arrDelta'].dt.total_seconds()/60.0
kitchener['depDelta'] = kitchener['depDelta'].dt.total_seconds()/60.0
kitchener.head()

train                   int64
prettyname             object
schedArr       datetime64[ns]
realArr        datetime64[ns]
schedDep       datetime64[ns]
realDep        datetime64[ns]
arrDelta      timedelta64[ns]
depDelta      timedelta64[ns]
dtype: object

,train,prettyname,schedArr,realArr,schedDep,realDep,arrDelta,depDelta
0,87,Toronto,NaT,NaT,2019-01-01 17:40:00,2019-01-01 17:40:00,NaN,0.0
1,87,Malton,2019-01-01 18:00:00,2019-01-01 17:58:00,2019-01-01 18:01:00,2019-01-01 17:57:00,-2.0,-4.0
2,87,Brampton,2019-01-01 18:12:00,2019-01-01 18:08:00,2019-01-01 18:14:00,2019-01-01 18:12:00,-4.0,-2.0
3,87,Georgetown,2019-01-01 18:24:00,2019-01-01 18:22:00,2019-01-01 18:26:00,2019-01-01 18:22:00,-2.0,-4.0
4,87,Guelph,2019-01-01 18:49:00,2019-01-01 18:42:00,2019-01-01 18:51:00,2019-01-01 18:46:00,-7.0,-5.0

### Summaries
The `describe()` function can help us get some insights into our data very quickly, and let us know if there are any issues. We will use this summary function to determine some data integrity issues and to correct them.

In [39]:
kitchener['arrDelta'] = np.where(kitchener.arrDelta < -1000, kitchener.arrDelta + 1400, kitchener.arrDelta)
kitchener['depDelta'] = np.where(kitchener.depDelta < -1000, kitchener.depDelta + 1400, kitchener.depDelta)
kitchener[kitchener.arrDelta < -600]
# kitchener.describe()

,train,prettyname,schedArr,realArr,schedDep,realDep,arrDelta,depDelta
156754,88,Toronto,2019-11-02 23:17:00,2019-11-02 12:34:00,NaT,NaT,-643.0,NaN

## Example: Calculating On-Time Performance
As an example, let's calculate the on-time performance across all trains at all stations along the Kitchener corridor. We will define on-time performance as departing between 1 minute early and 5 minutes late (*Note: this is not how VIA defines their on-time performance*). We'll do this with the following steps:
  1. Create a subset of data with only on-time departures
  2. Group all departures by station name and train number
  3. Group on-time departures by station name and train number
  4. Merge the two datasets together
  5. Calculate the on-time performance

In [47]:
on_time = kitchener[(kitchener.depDelta <=5) & (kitchener.depDelta >= -1)]
otp = on_time[['train', 'prettyname', 'depDelta']].groupby(['train', 'prettyname'], as_index=False).count()
otp.columns = ['train', 'station', 'on_times']

alls = kitchener[['train', 'prettyname', 'depDelta']].groupby(['train', 'prettyname'], as_index=False).count()
alls.columns = ['train', 'station', 'all']

otp = pd.merge(otp, alls, on=['train', 'station'])
otp['otp'] = 100*otp['on_times']/otp['all']
otp

    train     station  on_times  all        otp
0      84    Brampton        43  363  11.845730
1      84  Georgetown        51  361  14.127424
2      84      Guelph        30  364   8.241758
3      84   Kitchener         9  364   2.472527
4      84      London       207  365  56.712329
5      84      Malton        35  355   9.859155
6      84      Sarnia       315  364  86.538462
7      84  St. Mary's       158  364  43.406593
8      84   Stratford       117  362  32.320442
9      84   Strathroy        57  361  15.789474
10     84     Wyoming       223  362  61.602210
11     85    Brampton       187  364  51.373626
12     85  Georgetown       154  359  42.896936
13     85      Guelph       118  362  32.596685
14     85   Kitchener       136  363  37.465565
15     85      Malton        97  358  27.094972
16     85  St. Mary's       122  361  33.795014
17     85   Stratford       125  362  34.530387
18     85     Toronto       361  364  99.175824
19     87    Brampton       236  363  65.013774
20     87  Georgetown       190  362  52.486188
21     87      Guelph       166  364  45.604396
22     87   Kitchener       179  363  49.311295
23     87      London       110  364  30.219780
24     87      Malton       221  362  61.049724
25     87  St. Mary's       149  362  41.160221
26     87   Stratford        48  361  13.296399
27     87   Strathroy        97  357  27.170868
28     87     Toronto       285  364  78.296703
29     87     Wyoming        56  358  15.642458
30     88    Brampton        53  362  14.640884
31     88  Georgetown        53  357  14.845938
32     88      Guelph        39  362  10.773481
33     88   Kitchener         4  363   1.101928
34     88      London       267  364  73.351648
35     88  St. Mary's        19  359   5.292479
36     88   Stratford        29  363   7.988981

## Saving Files
Saving dataframes back into CSV files is quick and easy. We'll save our on-time performance data as well as our cleaned Kitchener data for later visualization use.

In [49]:
kitchener.to_csv("kitchener_times.csv", index=False)
otp.to_csv('kitchener_otp.csv', index=False)